body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e5e5e5;
}

header>div>img{
    margin-right: 0.4rem;
}

#save-box {
    right: 6rem;
    padding: 1rem 1.2rem;
    opacity: 0;
    visibility: hidden; /* Elemento inicialmente invisível */
    transition: opacity 0.5s ease, visibility 0s 0.5s;
  }

#remove-box{
    right: 1rem;
    padding: 1rem 1.2rem;
}
  

#download-box{
    right: 3rem;
}

.show{
    opacity: 1 !important;
    visibility: visible !important; /* Elemento visível quando a classe "show" está presente */
    transition: opacity 0.5s ease !important; /* Transição suave da opacidade */
  }
  
  .hide {
    opacity: 0 !important;
    visibility: hidden !important;
    transition: opacity 0.5s ease, visibility 0s 0.5s !important; /* A visibilidade será alterada depois de 0.5s (quando a opacidade terminar de transitar) */
  }

.confirmation-box{
    background-color: white;
    border: 1px solid #00000049;
    color: #00000098;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.3rem 0.5rem;
    border-radius: 7px;
    font-weight:bolder;
}

.confirmation-box>*{
    padding: 0.8rem 1.3rem;
}

.confirmation-box>*:hover{
    background-color: #f5f5f5;
}

hr{
    width: 1px;
    height: 80%; 
    background-color: #000; 
    border: none; 
}

.combobox-container {
    display: inline-flex;
    position: relative;
    width: 100px;
    align-items: center;
    margin: 0 1rem;
}

#color-button{
    position: relative;
}

#color-picker{
    display: none;
    position: absolute;
    top: 100%; /* Coloca o seletor logo abaixo do botão */
    left: 0;
    z-index: 10; /* Garante que o seletor apareça sobre outros elementos */
}

/* Estilo do input */
.combobox-input {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-appearance: textfield; /* Remove os botões de incremento para Firefox */
}

.font-select{
    margin: 0 1rem;
    width: 8rem;
}

.form-select {
    padding: 6px;
    font-size: 14px;
}

/* Remove os botões de incremento para outros navegadores */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilo da lista suspensa */
.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    display: none; /* Começa oculta */
    z-index: 10;
}

/* Cada item na lista */
.dropdown-list div {
    padding: 8px;
    cursor: pointer;
}

/* Estilo do item quando o mouse passa sobre ele */
.dropdown-list div:hover {
    background-color: #f0f0f0;
}

/* Botões para incremento e decremento */
.increment-btns {
    display: flex;
    flex-direction: column;
}

.increment-btns button {
    padding: 0;
    width: 20px;
    height: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.increment-btns button:hover {
    background-color: #e0e0e0;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }

.controls input{
    font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 60px;
  box-sizing: border-box;
}

header {
    height: 4rem;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: #cacaca 1px solid;
}

section {
    position: sticky;
    top: 4rem;
    background-color: rgb(226, 226, 226);
    border-bottom: 1px solid #0000001e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

header a{
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header button{
    background-color: #ffffff;
    border: none;
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0.15rem;
}
header button:hover, header a:hover{
    background-color: #ebebeb;
}

.icon {
    width: 24px;
    height: 24px;
}

.smaller-icon{
    width: 18px;
    height: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f5f5f5;
    min-height: 100vh;
}

.editable {
    background-color: white;
    width: 210mm;
    height: 297mm;
    border: 1px solid #ccc;
    padding: 1.5rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.5;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    overflow-y: auto;
    white-space: pre-wrap;
}

.ql-font-arial {
    font-family: Arial, sans-serif;
}
.ql-font-verdana {
    font-family: Verdana, sans-serif;
}
.ql-font-tahoma {
    font-family: Tahoma, sans-serif;
}
.ql-font-times-new-roman {
    font-family: 'Times New Roman', serif;
}
.ql-font-georgia {
    font-family: Georgia, serif;
}
.ql-font-courier-new {
    font-family: 'Courier New', monospace;
}
.ql-font-comic-sans-ms {
    font-family: 'Comic Sans MS', cursive;
}
.ql-font-impact {
    font-family: Impact, sans-serif;
}
.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}
.ql-font-open-sans {
    font-family: 'Open Sans', sans-serif;
}
.ql-font-lato {
    font-family: 'Lato', sans-serif;
}
.ql-font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.ql-font-raleway {
    font-family: 'Raleway', sans-serif;
}
.ql-font-poppins {
    font-family: 'Poppins', sans-serif;
}
.ql-font-garamond {
    font-family: Garamond, serif;
}
.ql-font-palatino {
    font-family: Palatino, serif;
}
.ql-font-trebuchet-ms {
    font-family: 'Trebuchet MS', sans-serif;
}
.ql-font-helvetica {
    font-family: Helvetica, sans-serif;
}
.ql-font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
}
.ql-font-merriweather {
    font-family: 'Merriweather', serif;
}
.ql-font-fira-sans {
    font-family: 'Fira Sans', sans-serif;
}
.ql-font-inconsolata {
    font-family: 'Inconsolata', monospace;
}
.ql-font-playfair-display {
    font-family: 'Playfair Display', serif;
}
.ql-font-dancing-script {
    font-family: 'Dancing Script', cursive;
}

.editable:empty:before {
    content: attr(placeholder);
    color: #999;
    pointer-events: none;
    display: block;
}

header>div>img{
    margin-left: 1rem;
}

.toolbar {
    display: flex;
}

.text-style{
    margin: 0 1rem;
}

.toolbar button, .selected, .selected-space {
    background-color: rgb(226, 226, 226);
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.toolbar button:hover, .selected:hover, .selected-space:hover {
    background-color: #cac8c8;
}

.custom-select, .select-space {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 0.5rem;
  }

  .options, .options-space {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
  }

  .option, .option-space {
    padding: 10px;
  }

  .option:hover, .option-space:hover {
    background-color: #f0f0f0;
  }

  .custom-select.active .options, .select-space.active .options-space {
    display: block;
  }
  #titulo-doc{
    border: none;
    border-radius: 10px;
    font-size: 22px;
    width: 15rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

  #titulo-doc:focus{
    outline: rgb(126, 158, 226) 2px solid;
  }

.pressed{
background-color: #a5a5a5 !important;
}

.header-pressed{
    background-color: #d8d8d8 !important;
};


  #download-button, #remove-button{
    position: relative;
  }

