#buttons>*>img{
    width: 1.5rem;
}

.remove-box{
    padding: 1rem 1.2rem;
    width: 12rem;
}
 
nav{
    height: 4rem;
    z-index: 1000;
    border-bottom: 1px solid #0000001e;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.download-box{
    width: 15rem;
}

.icon {
    width: 40px;
    height: 40px;
}

.confirmation-box{
    background-color: white;
    border: 1px solid #00000049;
    color: #00000098;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.3rem 0.5rem;
    border-radius: 7px;
    font-weight:bolder;
}

.confirmation-box>*{
    padding: 0.8rem 1.3rem;
}

.confirmation-box>*:hover{
    background-color: #f5f5f5;
}

.download-button, .remove-button{
    position: relative;
  }

.album{
    margin-top: 4rem;
}

#buttons>*{
    background-color: #ffffff;
    border: none;
    padding: 0.3rem 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 0.15rem;
}
#buttons>*:hover, .card:hover{
    background-color: #ebebeb;
}

.ignore-filter {
    min-height: 375px; /* Ajuste o valor conforme necessário */
  }

  .ignore-filter .card {
    
  }

.card{
    transition: background-color 0.3s ease; /* Animação suave na mudança */
}

  /* Para garantir que o card não seja comprimido */
  .ignore-filter .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px; /* Mesmo valor usado no card pai */
  }

  /* Garante que o SVG tenha um tamanho fixo */
  .ignore-filter svg {
    width: 50%;
    height: auto;
  }

  /* Impede que o layout seja quebrado com a exibição/ocultação */
  .document-card {
    min-height: 375px; /* Ou ajuste conforme o design desejado */
  }